.contentCard {
    margin: 20px auto;
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    p{
        text-align: center;
    }
    button {
        padding: 15px 25px;
        align-self: flex-end;
        background-color: #4f419c;
        border: 0px solid whitesmoke;
        border-radius: 5px;
        font-size: 15px;
        transition: 0.3s;
        color: #e9dddb;
    }
    button:hover
    {
        background-color: #6d5dc7;
        transition: 0.3s;
        cursor: pointer;
    }
}