<div class="about-container">
    <h1>About us</h1>

    <img src="../../assets/about.jpg" alt="" width="600">
    <p>
        Take a tour of the example application
You build Angular applications with components. Components define areas of responsibility in the UI that let you reuse sets of UI functionality.

A component consists of three things:

DETAILS
A component class	Handles data and functionality.
An HTML template	Determines the UI.
Component-specific styles	Define the look and feel.
This guide demonstrates building an application with the following components.

COMPONENTS	DETAILS

    </p>
</div>