.login {
    padding: 20px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;

}
input {
    font-size: 14px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    padding: 2px 14px;
}