.login {
    padding: 20px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;

}
input {
    font-size: 14px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    padding: 2px 14px;
}
button {
    padding: 10px 15px;
    background-color: rgb(159, 255, 207);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.158) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    margin: 15px;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        background-color: rgb(146, 214, 181);
    }
}