<div class="contentCard">
    <h2 class="card_header-text">
        This is simple example.
    </h2>
    <img src="https://thumbs.dreamstime.com/b/headhunter-laptop-working-icon-cartoon-style-headhunter-laptop-working-icon-cartoon-headhunter-laptop-working-vector-icon-190872711.jpg" alt="" width="200">
    <p class="card_main-text">
        This tutorial introduces you to the essentials of Angular by walking you through building an e-commerce site with a catalog, shopping cart, and check-out form.
    </p>
    <a [routerLink]="['/card', id]">
        <button>Read About!</button>
    </a>
    
</div>
